<!-- TODO: Добавить выпадающие списки к ссылкам навигационного меню, если будет нужно (скорее всего - да) -->
<section class="header">
  <div class="header__container">
    <div class="header__nav">
      <div class="header__nav-logo">
        <a routerLink="/start-page" class="header__nav-logo_link">
          <img src="assets/logo.png" alt="Website Logo" />
        </a>
      </div>

      <div class="header__nav-links">
        <!-- Первая ссылка -->
        <div class="header__nav-links_link">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#">Моя Империя</a>
        </div>

        <!-- Вторая ссылка -->
        <div class="header__nav-links_link">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#">Новости</a>
        </div>

        <!-- Третья ссылка -->
        <div class="header__nav-links_link">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#">Магазин</a>
        </div>

        <!-- Четвёртая ссылка -->
        <div class="header__nav-links_link">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#">Работа</a>
        </div>

        <!-- Пятая ссылка -->
        <div class="header__nav-links_link">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#">О Нас</a>
        </div>

        <!-- Шестая ссылка -->
        <div class="header__nav-links_link">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#">FAQ</a>
        </div>

        <!-- Седьмая ссылка -->
        <div class="header__nav-links_link">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#">Контакты</a>
        </div>
      </div>

      <div class="header__nav-menu">
        <div class="header__nav-menu_basket">
          <!-- TODO: Добавить ссылку по роутингу -->
          <a routerLink="#" class="header__nav-menu_basket-link">
            <i class="bx bx-basket"></i>
          </a>
        </div>

        <div class="header__nav-menu_login">
          <!-- TODO: Добавить проверку на то, залогинен пользователь или нет -->
          <!-- TODO: Продумать, куда будет вести данная ссылка или же будет открываться просто модальное окно с логином -->
          <a routerLink="#" class="header__nav-menu_login-link">Войти</a>
        </div>
      </div>
    </div>
  </div>
</section>

