<div class="forgot-password-modal__container">
  <div class="forgot-password-modal__logo">
    <img src="assets/short-logo.png" alt="Website Short Logo" />
  </div>

  <h4 class="forgot-password-modal__title">Восстановление доступа к аккаунту</h4>

  <div (click)="forgotPasswordModal.showDialog = false" class="forgot-password-modal__btn-close">
    <i class="bx bx-x"></i>
  </div>

  <span class="forgot-password-modal__subtitle"
    >Пожалуйста, введите свою почту, на которую будет отправлено письмо с инструкцией по восстановлению доступа к аккаунту</span
  >

  <form class="forgot-password-modal__form">
    <!-- Поле для ввода почты с целью восстановления доступа к аккаунту -->
    <div class="forgot-password-modal__form-input">
      <span class="forgot-password-modal__form-input_icon">
        <i class="bx bx-envelope"></i>
      </span>

      <input required type="text" placeholder="Почта" />
    </div>

    <!-- TODO: Сделать логику отправки письма -->
    <button class="forgot-password-modal__form-btn">Отправить письмо</button>
  </form>
</div>
