<!-- TODO: Сделать закрытие модального окна по нажатию на пустое место на странице -->
<section class="start-page">
  <ng-container *ngIf="forgotPasswordModal.showDialog">
    <div class="start-page__modal">
      <social-empire-forgot-password-modal></social-empire-forgot-password-modal>
    </div>
  </ng-container>

  <div class="start-page__container">
    <div class="start-page__wrapper">
      <div class="start-page__logo">
        <img src="assets/logo.png" alt="Website Logo" />
      </div>

      <div class="start-page__content">
        <div class="start-page__content-left-side">
          <h4 class="start-page__content-left-side_title">Присоединяйтесь к Нам!</h4>

          <p class="start-page__content-left-side_description">
            Присоединяйтесь к нашему сообществу и будь в курсе всех событий, ищи друзей, общайся и наслаждайся новой социальной сетью -
            Social Empire.
          </p>

          <div class="start-page__content-left-side_cards">
            <!-- Первая карточка -->
            <div class="start-page__content-left-side_cards-card">
              <div class="start-page__content-left-side_cards-card_logo">
                <i class="bx bx-desktop"></i>
              </div>

              <div class="start-page__content-left-side_cards-card_info">
                <h6 class="start-page__content-left-side_cards-card_info-title">Сообщество</h6>

                <span class="start-page__content-left-side_cards-card_info-description">Знакомства и общение</span>
              </div>
            </div>

            <!-- Вторая карточка -->
            <div class="start-page__content-left-side_cards-card">
              <div class="start-page__content-left-side_cards-card_logo">
                <i class="bx bx-photo-album"></i>
              </div>

              <div class="start-page__content-left-side_cards-card_info">
                <h6 class="start-page__content-left-side_cards-card_info-title">Галерея</h6>

                <span class="start-page__content-left-side_cards-card_info-description">Посты и фото</span>
              </div>
            </div>

            <!-- Третья карточка -->
            <div class="start-page__content-left-side_cards-card">
              <div class="start-page__content-left-side_cards-card_logo">
                <i class="bx bx-signal-5"></i>
              </div>

              <div class="start-page__content-left-side_cards-card_info">
                <h6 class="start-page__content-left-side_cards-card_info-title">Новости</h6>

                <span class="start-page__content-left-side_cards-card_info-description">Блоги и многое другое</span>
              </div>
            </div>
          </div>
        </div>

        <div class="start-page__content-right-side">
          <div class="start-page__content-right-side_logo">
            <img src="assets/short-logo.png" alt="Website Short Logo" />
          </div>

          <router-outlet></router-outlet>
        </div>
      </div>

      <div class="start-page__info">
        <!-- TODO: Изменить ссылку по роутингу -->
        <a routerLink="#" target="_blank" class="start-page__info-link">О Нас</a>

        <!-- TODO: Изменить ссылку по роутингу -->
        <a routerLink="#" target="_blank" class="start-page__info-link">FAQ</a>

        <!-- TODO: Изменить ссылку по роутингу -->
        <a routerLink="#" target="_blank" class="start-page__info-link">Контакты</a>
      </div>
    </div>
  </div>
</section>
