<div class="login__container">
  <h2 class="login__title">Рады видеть вас!</h2>

  <span class="login__subtitle">Войти в аккаунт Social Empire</span>

  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <div class="login__form-inputs">
      <!-- TODO: Сделать валидаторы для формы, очистку формы при отправке, оповещения о заполнении и то же самое в компоненте registration -->
      <!-- TODO: Сделать логику запроса на сервер, есть ли такой пользователь или нет -->
      <!-- Первое поле для почты -->
      <div class="login__form-inputs_input">
        <span class="login__form-inputs_input-icon">
          <i class="bx bx-user"></i>
        </span>

        <input required type="text" placeholder="Почта" formControlName="email" />

        <ng-container *ngIf="loginForm.get('email') as email">
          <div *ngIf="email?.invalid && email?.touched" class="login__form-inputs_input-validation">
            <ng-container *ngIf="email?.errors as emailErrors">
              <span *ngIf="emailErrors?.['required']">Поле "Почта" не может быть пустым</span>

              <span *ngIf="emailErrors?.['email']">Введите корректный адрес эл. почты</span>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <!-- TODO: Сделать логику запроса на сервер, подходит ли пароль для данного пользователя или нет -->
      <!-- Второе поле для пароля -->
      <div class="login__form-inputs_input">
        <span class="login__form-inputs_input-icon">
          <i class="bx bx-lock-open"></i>
        </span>

        <input required type="password" placeholder="Пароль" formControlName="password" />

        <ng-container *ngIf="loginForm.get('password') as password">
          <div *ngIf="password?.invalid && password?.touched" class="login__form-inputs_input-validation">
            <span *ngIf="password?.errors?.['required']">Поле "Пароль" не может быть пустым</span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="login__form-wrapper">
      <!-- TODO: Сделать логику запоминания в браузере данных (если нужно, если не будет браузер сам предлагать их запоминать) -->
      <div class="login__form-wrapper_checkbox">
        <label class="checkbox path" for="checkbox-login">
          <input type="checkbox" id="checkbox-login" />
          <svg viewBox="0 0 21 21">
            <path
              d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
            ></path>
          </svg>
          Запомнить
        </label>
      </div>

      <!-- TODO: Пофиксить проблему с тем, что при нажатии на данную кнопку высвечивается "Заполните это поле" у инпутов (привязка к форме) -->
      <div class="login__form-wrapper_reset-password">
        <button (click)="forgotPasswordModal.showDialog = true" type="button" class="login__form-wrapper_reset-password-btn">
          Забыли пароль?
        </button>
      </div>
    </div>

    <div class="login__form-login">
      <button class="login__form-login_btn" type="submit" [disabled]="loginForm.invalid">Войти в аккаунт</button>
    </div>

    <div class="login__form-register">
      <a routerLink="/start-page/registration" type="button" class="login__form-register_btn">Зарегистрироваться</a>
    </div>
  </form>
</div>

